@import url("../vendor/normalize.css");
@import url("../vendor/fonts.css");
@import url("../blocks/page.css");
@import url("../blocks/header.css");
@import url("../blocks/content.css");
@import url("../blocks/footer.css");
@import url("../blocks/profile.css");
@import url("../blocks/cards.css");
@import url("../blocks/card.css");

@media screen and (max-width:480px){
    .profile {
        /* background-color: pink; */
        flex-direction: column;
    }
   
    .profile__info {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        width: 100%;
    }

    .profile__description {
        width: 100%;
        text-align: center;
    }

    .profile__add-button {
        margin: 0;
        width: 100%;
    }
}

@media screen and (max-width:1100px) {
    .page__section {
        margin: 0 20px;
        max-width: calc(100% - 40px);
    }
    
}